# Pycharm
.idea

# venv
.venv*

# python
**/__pycache__
*.pyc

# pyenv
.python-version

# .egg-info
*.egg-info/

# config files
nps_active_space/config/*
!nps_active_space/config/template.config

# Generated Index
example_data/ADS-B/healy_repeater/index.txt